* {
    color: #e3dce8;
    font-family: times new roman, Serif;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.simulation-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: #4f4b52;
}

.simulation-button img {
    width: 100px;
    height: 100px;
}

.simulation-button:hover {
    background-color: #948d99;
}

/* Center the "Physics Simulations" title */
h1 {
    text-align: center;
}

/* Set equal width for the buttons and allow text to span multiple lines */
.simulation-button {
    width: 200px; /* Set a fixed width */
}

/* Style the spring icon as a grey box */
.spring-icon {
    width: 100px;
    height: 100px;
    background-color: #f5e3ff;
}

/* Style the flow icon as a blue circle */
.flow-icon {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%; /* Makes it a circle */
}

/* Create a new mass-icon class */
.mass-icon {
    width: 40px;
    height: 40px;
    background-color: #f5e3ff;
    position: absolute;
}

input[type="number"] {
    background-color: #333;
    color: white;
    border: 1px solid #555;
}

button[id="startSimulation"] {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    font-size:20px

}

/* Style the "Back to Homepage" button */
button.simulation-button {
    cursor: pointer;
    width: auto;
    color: #e3dce8;
    font-size:20px
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    margin: 10px;
}